body{
    font-family: 'Roboto Condensed', sans-serif;
    background: #25274d;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 200px;
    height: 100%;
    background: #464866;
    transition: all .4s ease;
}

.sidebar header{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 50px;
}

.sidebar ul a{
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 50px;
    border-top: 2px solid black;
    border-bottom: #AAABB8;
    color: white;
    box-sizing: border-box;
    transition: .4s;
}

.sidebar ul li:hover a{
    background: #29648a;
    padding-left: 5px;
}

#check {
    display: none;
}

label #button, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #464866;
}

label #button{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .4s;
}

label #cancel{
    z-index: 1111;
    left: -150px;
    top: 10px;
    font-size: 15px;
    color: white;
    padding: 4px 9px;
    transition: all 0.4s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #button{
    left: 200px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 150px;
}